.endText {
    margin-top: auto;
    padding: 90px 5px 30px;
    font-size: 1rem;
    margin-bottom: 3vh;
    .downText {
        margin-bottom: 5px;
    }
}
@media (max-width: 920px) {
    .endText {
        padding: 40px 5px 20px;
        margin-bottom: 2vh;
        .downText {
            margin-bottom: 30px;
        }
    }
}
