.header {
    // height: 60vh;
    flex-direction: column;
    padding-top: 80px;
    display: flex;
}

@media (max-width: 920px) {
    .header {
        padding-top: 70px;
    }
}

@media (max-width: 540px) {
    .header {
        padding-top: 60px;
    }
}
