.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    h1 {
        font-size: 5rem;
        color: var(--red);
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0;
        font-family: "Jost";
        &::first-letter {
            color: white;
            font-weight: 400;
            padding-right: 0;
            font-size: 1em;
        }
    }
    .links {
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .home {
            border-color: #6983d3;
            color: #6983d3;
        }

        .generate {
            border-color: var(--red);
            color: var(--red);
        }

        a {
            border-radius: 10px;
            text-decoration: none;
            border: 2px solid;
            color: white;
            padding: 10px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
