.underText {
    font-size: 1.4rem;
    padding-top: 10px;
    max-width: 750px;
    margin: 5px;
    text-align: center;
}
@media (max-width: 920px) {
    .underText {
        font-size: 1.2rem;

        padding-top: 5px;
    }
}
