.singleWish {
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    transition: all 1.2s 0.2s cubic-bezier(0.14, 0.85, 0.7, 1.4);
    font-size: 1.45rem;
    font-weight: 400;
    padding: 20px 5px 30px;
    opacity: 0;
}
.left {
    transform: translateX(-90%);
}
.right {
    transform: translateX(90%);
}
.activeWish {
    transform: translateX(0);
    opacity: 1;
}
@media (min-width: 920px) {
    .singleWish {
        padding: 40px 10px 65px;
    }
}
