.button {
    background: transparent;
    border: none;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
    cursor: pointer;
    position: relative;
    padding: 0;
}
.inActive {
    opacity: 0.5;
}
