.gif {
    margin: 30px auto;
    width: 420px;
}
@media (max-width: 1450) {
    .gif {
        width: 240px;
        max-height: 310px;
    }
}
@media (max-width: 920px) {
    .underText {
        font-size: 1.2rem;

        padding-top: 5px;
    }
    .gif {
        margin: 20px auto;
        width: 270px;
        max-height: 240px;
    }
}
@media (max-width: 540px) {
    .gif {
        margin: 20px auto;
        width: 200px;
        max-height: 240px;
    }
}
