.aboveText {
    font-size: 2.2rem;
    letter-spacing: 4px;
    padding-bottom: 15px;
    max-width: 90vw;
}

@media (max-width: 920px) {
    .aboveText {
        font-size: 1.8rem;
        letter-spacing: normal;
        padding-bottom: 10px;
    }
}

@media (max-width: 720px) {
    .aboveText {
        font-size: 1.4rem;
        letter-spacing: normal;
        padding-bottom: 10px;
    }
}
