.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #e22f2f;
    overflow-x: hidden;
}

html {
    font-size: 22px;
}

@media (max-width: 1200px) {
    html {
        font-size: 18px;
    }
}
@media (max-width: 720px) {
    html {
        font-size: 16px;
    }
}
@media (max-width: 540px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 14px;
    }
}
