:root {
    --mainBackColor: #1a1919;
    --secondBackColor: #343232;
    --red: rgb(238, 4, 57);
    --violet: #8d51db;
    --purple: rgb(205, 12, 171);
    --gray: #575555;
}
h2 {
    margin: 40px 0 5px;
}
h3 {
    margin: 5px 0 20px;
    letter-spacing: 2px;
}
h5 {
    margin: 25px 0 10px;
}
h4 {
    margin: 27px 0 10px;
}
p {
    margin: 0.85rem 0 0.85rem;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grayBlock {
    padding: 10px 10px 10px;
    border-radius: 12px;
    background-color: var(--secondBackColor);
    border: 4px solid var(--gray);
    margin-bottom: 15px;
}

body {
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    color: white;
}
* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

html {
    font-size: 22px;
    font-family: "Jost";
}

@media (max-width: 1200px) {
    html {
        font-size: 18px;
    }
}
@media (max-width: 720px) {
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    h4 {
        font-size: 1.1em;
    }
    h5 {
        font-size: 1em;
    }
}
@media (max-width: 540px) {
    html {
        font-size: 17.5px;
    }
}

@media (max-width: 440px) {
    html {
        font-size: 17px;
    }
}
