.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 60vh;
    h1 {
        font-size: 6rem;
        color: var(--purple);
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0;
        font-family: "Jost";
        &::first-letter {
            color: white;
            font-weight: 400;
            padding-right: 0;
            font-size: 1em;
        }
    }
    p {
        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
