.title {
    font-family: "Jost";
    font-weight: 600;
    .titleName {
        background-image: linear-gradient(
            110deg,
            #ff0000 0%,
            #bc10e7 50%,

            #5e92d0 100%
        );
        background-position: center;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        width: min-content;
    }
}
