.lines {
    display: flex;
    align-items: center;
    margin-right: 10px;
    cursor: grab;
    height: 100%;
    .line {
        background-color: var(--gray);
        min-width: 2px;
        margin: 2px;
        &.first {
            height: 60%;
            margin-left: 2px;
        }
        &.second {
            height: 50%;
        }
    }
}
